{% extends "base.html" %}
    {% block content %}
    <section>
    </br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="custom-block custom-block-overlay">
                        <div class="d-flex flex-column h-100">
                            <img src="/static/images/businesswoman-using-tablet-analysis.jpg" class="custom-block-image img-fluid" alt="">

                            <div class="custom-block-overlay-text d-flex">
                                <div>
                                    <h5 class="text-white mb-2">{{newsdetail.news_title}}</h5>

                                    <p class="text-white">{{newsdetail.news_desc | safe}}</p>

                                    <a href="topics-detail.html" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                                </div>

                                <span class="badge bg-finance rounded-pill ms-auto">25</span>
                            </div>

                            <div class="social-share d-flex">
                                <p class="text-white me-4">Share:</p>

                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    
                            </div>

                            <div class="section-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    {% endblock %}}